body {
  user-select: none;
}

.slideShowContainer {
  display: grid;
  grid: 1fr / 45px auto 50px;
}

.arrowLeft {
  grid-column-start: 1;
  grid-column-end: 2;
}

.arrowRight {
  grid-column-start: 3;
  grid-column-end: 4;
}

.arrowLeft,
.arrowRight {
  color: gray;
  font-size: 35px;
  margin: auto;
}

.arrowLeft:hover,
.arrowRight:hover {
  cursor: pointer;
}

.slider {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 40vw;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.sliderGrid {
  position: absolute;
  transition: margin 1s;

}

.frame {
  float: left;
}

.frame img {
  display: block;
  width: 40vw;
  height: 600px;
}

.dotMap {
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 14px;
  white-space: pre;
  padding: 20px;
}

.dotMap>span {
  position: relative;
}

.currentDotPostion {
  position: absolute;
  left: 0;
  transition: left 1s;
}