body {
  background-color: #ebebeb;
}

.App {
  text-align: center;
  width: 94%;
  margin: 3%;
}

.productGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}

.loadingErrorMsg {
  font-weight: bold;
  font-size: 18px;
}