.cart-container {
  .product {
    display: flex;
    background-color: white;
    margin: 10px 0;
    padding: 5px;
    border-radius: 10px;

    img {
      width: 80px;
      height: 80px;
    }

    .title {
      margin: auto auto auto 15px;
      font-size: 20px;
      text-decoration: none;
      color: black;
    }

    .price {
      margin: auto 15px;
      font-size: 20px;
    }

    .remove-product-button {
      margin: auto 5px;
      font-size: 20px;
      background-color: #a52a2a;
      color: white;
      padding: 7px;
      border-radius: 15px;
      cursor: pointer;
    }
  }

  .total-price {
    background-color: white;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
  }
}
