.error-msg {
  font-weight: bold;
  font-size: 18px;
}

.product-container-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
    width: 90%;
    margin: 5%;

    .content {
      text-align: left;
      font-size: 25px;
      margin-left: 15px;

      .title {
        display: flex;
        align-content: space-between;
        font-weight: bold;

        div:nth-child(1) {
          margin: auto auto auto 0;
          max-width: auto;
          height: 35px;
          overflow: hidden;
          font-size: 30px;
        }

        div:nth-child(2) {
          font-size: 25px;
          margin: auto 0 auto auto;
          white-space: nowrap;
          width: 200px;
          text-align: right;
        }
      }

      .description {
        font-size: 20px;
        width: 70%;
        max-height: 90px;
        overflow: hidden;
      }

      .details {
        color:gray;
      }

      .dicount-percent {
        margin: 35px 0;
        font-size: 20px;

        span {
          display: inline;
          background-color: #6100ff;
          padding: 10px 20px;
          color: white;
          border-radius: 30px;
        }
      }

      .price-and-add-cart-button-container {
        display: flex;
        align-content: space-between;
        font-weight: bold;

        div:nth-child(1) {
          margin: auto auto auto 0;
          overflow: hidden;
          font-size: 30px;
        }

        div:nth-child(2) {
          font-size: 25px;
          white-space: nowrap;
          text-align: right;
          color: white;
          padding: 10px 35px;
          border-radius: 20px;

          &:hover {
            cursor: pointer;
            user-select: none;
          }
        }
      }
    }
  }
}
